<config>
    <modules>
        <Xia_Goods>
            <version>1.0.0</version>
        </Xia_Goods>
    </modules>
    <frontent>
        <routers>
            <goods>
                <use>standard</use>
                <args>
                    <module>Xia_Goods</module>
                    <frontName>goods</frontName>
                </args>
            </goods>
        </routers>
    <layout>
        <updates>
            <customer module="Xia_Goods">
                <file>xia_goods</file>
            </customer>
        </updates>
    </layout>
    </frontent>
    <global>
        <models>
            <goods>
                <class>Xia_Goods_Model</class>
                <resourceModel>goods_resource</resourceModel>
            </goods>
            <goods_resource>
                <class>Xia_Goods_Model_Resource</class>
                <entitites>
                    <goods>
                        <table>goods</table>
                    </goods>
                </entitites>
            </goods_resource>
        </models>
        <resources>
            <goods_setup>
                <setup>
                    <module>Xia_Goods</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </goods_setup>
            <goods_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </goods_write>
            <goods_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </goods_read>
        </resources>
        <blocks>
            <goods>
                <class>Xia_Goods_Block</class>
            </goods>
        </blocks>
        <helpers>
            <goods>
                <class>Xia_Goods_Helper</class>
            </goods>
        </helpers>
    </global>
</config>