<?xml version="1.0"?>
<config>
    <modules>
        <LilySoft_Alipay>
            <version>0.1.0</version>
        </LilySoft_Alipay>
    </modules>
    <frontend>
    	<!-- 规定的跳转页面的地址 -->
    	<secure_url>
			<alipay>/alipay/payment</alipay>
		</secure_url>
        <routers>
            <alipay>
                <use>standard</use>
                <args>
                    <module>LilySoft_Alipay</module>
                    <frontName>alipay</frontName>
                </args>
            </alipay>
        </routers>
        <!-- 翻译文件 -->
        <translate>
			<modules>
				<LilySoft_Alipay>
					<files>
						<default>lilysoft_alipay.csv</default>
					</files>
				</LilySoft_Alipay>
			</modules>
		</translate>
        <layout>
            <updates>
                <alipay>
                    <file>lilysoft_alipay.xml</file>
                </alipay>
            </updates>
        </layout>
    </frontend>
    <!--  这个字段的作用
    <admin>
        <routers>
			<alipay>
				<use>admin</use>
				<args>
					<module>LilySoft_Alipay</module>
					<frontName>admin_alipay</frontName>
				</args>
			</alipay>
        </routers>
    </admin>
     -->
    <adminhtml>
		<translate>
			<modules>
				<LilySoft_Alipay>
					<files>
						<default>LilySoft_Alipay.csv</default>
					</files>
				</LilySoft_Alipay>
			</modules>
		</translate>
	</adminhtml> 
    <global>
        <models>
            <alipay>
                <class>LilySoft_Alipay_Model</class>
                <resourceModel>alipay_mysql4</resourceModel>
            </alipay>
        </models>
        <!-- 不需要这个，因为没有数据库的存取 
        <resources>
            <alipay_setup>
                <setup>
                    <module>LilySoft_Alipay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alipay_setup>
            <alipay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </alipay_write>
            <alipay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </alipay_read>
        </resources>
         -->
        <blocks>
            <alipay>
                <class>LilySoft_Alipay_Block</class>
            </alipay>
            <checkout>
            	<rewrite>
                        <onepage_success>LilySoft_Alipay_Block_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <alipay>
                <class>LilySoft_Alipay_Helper</class>
            </alipay>
        </helpers>
        
        <!-- sales 和payment这部分没有见到过，这部分的作用也有待了解 -->
        <sales>
        	<!-- 这是一个订单状态  -->
			<order>
				<states>
					<wait_buyer_pay>
						<statuses>
							<wait_buyer_pay />
						</statuses>
					</wait_buyer_pay>
					<wait_seller_end_goods>
						<statuses>
							<wait_seller_end_goods />
						</statuses>
					</wait_seller_end_goods>
					<send_goods>
						<statuses>
							<send_goods />
						</statuses>
					</send_goods>
					<wait_buyer_confirm_goods>
						<statuses>
							<wait_buyer_confirm_goods />
						</statuses>
					</wait_buyer_confirm_goods>
					<trade_finishen>
						<statuses>
							<trade_finishen />
						</statuses>
					</trade_finishen>
				</states>
			</order>
		</sales>
		<!-- 支付网关 -->
		<payment>
			<alipay>
				<languages>
					<FR>
						<code>FR</code>
						<name>Français</name>
					</FR>
					<EN>
						<code>EN</code>
						<name>Anglais</name>
					</EN>
					<ES>
						<code>ES</code>
						<name>Espagnol</name>
					</ES>
					<DE>
						<code>DE</code>
						<name>Allemand</name>
					</DE>
					<IT>
						<code>IT</code>
						<name>Italien</name>
					</IT>
					<NL>
						<code>NL</code>
						<name>Néerlandais</name>
					</NL>
				</languages>
			</alipay>
		</payment>
    </global>
    <default>
    	<!-- 这部分是将本模块添加到payment列表的一个配置，有这个配置，在前台就会有显示 -->
		<payment>
			<alipay>
				<model>alipay/payment</model>
				<title>alipay</title>
				<allowspecific>0</allowspecific>
				<transaction_type>O</transaction_type>
			</alipay>
		</payment>
	</default>
</config>