<?xml version="1.0"?>
<config>
    <modules>
        <LilySoft_ImageShow>
            <version>0.1.0</version>
        </LilySoft_ImageShow>
    </modules>
    <frontend>
        <routers>
            <imageshow>
                <use>standard</use>
                <args>
                    <module>LilySoft_ImageShow</module>
                    <frontName>imageshow</frontName>
                </args>
            </imageshow>
        </routers>
        <layout>
            <updates>
                <imageshow>
                    <file>imageshow.xml</file>
                </imageshow>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<imageshow>
				<use>admin</use>
				<args>
					<module>LilySoft_ImageShow</module>
					<frontName>admin_imageshow</frontName>
				</args>
			</imageshow>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<imageshow module="imageshow">
				<title>ImageShow</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="imageshow">
						<title>Manage Images</title>
						<sort_order>0</sort_order>
						<action>imageshow/adminhtml_imageshow</action>
					</items>
					<settings module="imageshow">
						<title>settings</title>
						<sort_order>1</sort_order>
						<action>adminhtml/system_config/edit/section/imageshow</action>
					</settings>
				</children>
			</imageshow>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <imageshow translate="title" module="imageshow">
                                            <title>Store Hello World Module Section</title>
                                        </imageshow>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<imageshow>
					<file>imageshow.xml</file>
				</imageshow>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <imageshow>
                <class>LilySoft_ImageShow_Model</class>
                <resourceModel>imageshow_mysql4</resourceModel>
            </imageshow>
            <imageshow_mysql4>
                <class>LilySoft_ImageShow_Model_Mysql4</class>
                <entities>
                    <imageshow>
                        <table>imageshow</table>
                    </imageshow>
                </entities>
            </imageshow_mysql4>
        </models>
        <resources>
            <imageshow_setup>
                <setup>
                    <module>LilySoft_ImageShow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imageshow_setup>
            <imageshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imageshow_write>
            <imageshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imageshow_read>
        </resources>
        <blocks>
            <imageshow>
                <class>LilySoft_ImageShow_Block</class>
            </imageshow>
        </blocks>
        <helpers>
            <imageshow>
                <class>LilySoft_ImageShow_Helper</class>
            </imageshow>
        </helpers>
    </global>
    <default>
    	<imageshow>
    		<general>
    			<base_element>.top</base_element>
    			<insert_type>prepend</insert_type>
    			<margin_left>-20</margin_left>
    			<margin_top>-20</margin_top>
    			<margin_bottom>-20</margin_bottom>
    			<image_width>920</image_width>
    			<image_height>330</image_height>
    			<cycle_type>fade</cycle_type>
    			<speed>1500</speed>
    			<timeout>500</timeout>
    			<max_count>5</max_count>
    		</general>
    	</imageshow>
    </default>
</config>