<?xml version="1.0"?>
<config>
	<modules>
		<Chinapay_Chinapay>
			<version>0.0.1</version>
		</Chinapay_Chinapay>
	</modules>
    <frontend>
        <routers>
            <chinapay>
            <use>standard</use>
                <args>
                    <module>Chinapay_Chinapay</module>
                    <frontName>chinapay</frontName>
                </args>
            </chinapay>
        </routers>
		<layout>
            <updates>
                <chinapay module="Chinapay_Chinapay">
                    <file>chinapay.xml</file>
                </chinapay>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
            <chinapay_admin>
                <use>admin</use>
                <args>
                    <module>Chinapay_Chinapay</module>
                    <frontName>chinapay_admin</frontName>
                </args>
            </chinapay_admin>
        </routers>
    </admin>
	<global>
		<models>
			<chinapay>
				<class>Chinapay_Chinapay_Model</class>
				<resourceModel>Chinapay_chinapay_mysql4</resourceModel>
			</chinapay>
			<Chinapay_chinapay_mysql4>
				<class>Chinapay_Chinapay_Model_Mysql4</class>
				<entities>
				</entities>
			</Chinapay_chinapay_mysql4>
		</models>
		<blocks>
			<chinapay>
				<class>Chinapay_Chinapay_Block</class>
			</chinapay>
		</blocks>
		<helpers>
            <chinapay>
                <class>Chinapay_Chinapay_Helper</class>
            </chinapay>
        </helpers>
		<layout>
			<updates>chinapay.xml</updates>
		</layout>
		<template>
			<email>
			</email>
		</template>
	</global>
	<default>
		<payment>
			<chinapay>
				<active>1</active>
				<model>chinapay/payment</model>
				<order_status>pending</order_status>
				<title>Chinapay</title>
				<allowspecific>0</allowspecific>
                <transaction_type>O</transaction_type>
				<sort_order>1</sort_order>
			</chinapay>
		</payment>	
	</default>
</config>